on: release
permissions:
  contents: read
jobs:
  build:
    name: Build binaries
    runs-on: ubuntu-latest
    steps:
      - name: Build binaries
        run: touch age-foo
      - name: Upload workflow artifacts
        uses: actions/upload-artifact@v2
        with:
          name: age-binaries
          path: age-*
  upload:
    name: Upload release binaries
    if: ${{ github.event_name == 'release' }}
    needs: build
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Download workflow artifacts
        uses: actions/download-artifact@v2
        with:
          name: age-binaries
      - name: Upload release artifacts
        run: gh --repo $GITHUB_REPO release upload "$GITHUB_REF_NAME" age-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
